@import "tailwindcss";

body{
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: var(--background);
}

/* =========================
   Region: Colors
   ========================= */
   :root {
    /* Primary Colors */
    --primary: #0080FF;
    --primary-light: #79BCFF;
    --primary-dark: #024ABD;

    /* Accent Colors */
    --accent-yellow: #FFB020;
    --accent-yellow-light: #FFF4D4;
    --accent-red: #FF0000;
    --accent-red-light: #F7C8C5;
    --accent-blue: #086BCB;
    --accent-blue-light: #D6E9FF;

    /* Status Colors */
    --success: #157347;
    --success-light: #CFF3E1;
    --warning: #FFB020;
    --warning-light: #FFE8C6;
    --error: #B02A37;
    --error-light: #FAD2D6;
    --error-dark: #134B20;
    --error-dark-light: #E2FCEB;

    /* Neutral Colors */
    --text-primary: #333333;
    --text-secondary: #666666;
    --text-placeholder: #A0A0A0;
    --border-neutral: #D6D6D6;
    --neutral-light: #F2F2F2;
    --background-light: #F9F9F9;

    /* Background Colors Z*/
    --background: #EBF5FF;
    --card-bg: #FFFFFF;
    --side-menu-bg: #021D3A;

    /* Icon Colors */
    --gradient-red: linear-gradient(90deg, #FF8383, #FF0000);
    --gradient-blue: linear-gradient(90deg, #79BCFF, #0080FF);
    --gradient-blue-reverse: linear-gradient(90deg, #0080FF, #79BCFF);
    --warning-gray: #A0A0A0;

    /* Chart Colors */
    --chart-blue: #62B1FF;
    --chart-red: #FF6969;
    --chart-yellow: #FFC234;
    --chart-green: #22CFCF;
    --chart-purple: #A370F0;
}

/* =========================
   Region: Typography
   ========================= */
.display-text-lg {
    font-size: 64px;       /* Font size */
    line-height: 72px;     /* Line height */
    letter-spacing: 8%;    /* Letter spacing */
    font-weight: 700;     /* 700 font weight */
}

.display-text-md {
    font-size: 48px;       /* Font size */
    line-height: 56px;     /* Line height */
    letter-spacing: 8%;    /* Letter spacing */
    font-weight: 700;     /* 700 font weight */
}

.display-text-sm {
    font-size: 36px;       /* Font size */
    line-height: 44px;     /* Line height */
    letter-spacing: 8%;    /* Letter spacing */
    font-weight: 700;     /* 700 font weight */
}

.headline-text-lg {
    font-size: 32px;       /* Font size */
    line-height: 40px;     /* Line height */
    letter-spacing: 5%;    /* Letter spacing */
    font-weight: 600;     /* semi700 font weight */
}

.headline-text-md {
    font-size: 24px;       /* Font size */
    line-height: 32px;     /* Line height */
    letter-spacing: 5%;    /* Letter spacing */
    font-weight: 600;     /* semi700 font weight */
}

.headline-text-sm {
    font-size: 20px;       /* Font size */
    line-height: 28px;     /* Line height */
    letter-spacing: 5%;    /* Letter spacing */
    font-weight: 600;     /* semi700 font weight */
}

.headline-text-xs{
    font-size: 12px;       /* Font size */
    line-height: 16px;     /* Line height */
    letter-spacing: 0.5px;    /* Letter spacing */
    font-weight: 600;     /* semi700 font weight */
}

.body-text-lg {
    font-size: 18px;       /* Font size */
    line-height: 28px;     /* Line height */
    letter-spacing: 3%;    /* Letter spacing */
    font-weight: 400;     /* normal font weight */
}

.body-text-md {
    font-size: 16px;       /* Font size */
    line-height: 23px;     /* Line height */
    letter-spacing: 3%;    /* Letter spacing */
    font-weight: 400;     /* normal font weight */
}

.body-text-sm {
    font-size: 14px;       /* Font size */
    line-height: 20px;     /* Line height */
    letter-spacing: 3%;    /* Letter spacing */
    font-weight: 400;     /* normal font weight */
}

.body-text-xs{
    font-size: 10px;       /* Font size */
    line-height: 16px;     /* Line height */
    letter-spacing: 3%;    /* Letter spacing */
    font-weight: 400;     /* normal font weight */
}

.body2-text-lg {
    font-size: 18px;       /* Font size */
    line-height: 28px;     /* Line height */
    letter-spacing: 3%;    /* Letter spacing */
    font-weight: 600;     /* semibold font weight */
}

.body2-text-md {
    font-size: 16px;       /* Font size */
    line-height: 24px;     /* Line height */
    letter-spacing: 3%;    /* Letter spacing */
    font-weight: 600;     /* semibold font weight */
}

.body2-text-sm {
    font-size: 14px;       /* Font size */
    line-height: 20px;     /* Line height */
    letter-spacing: 3%;    /* Letter spacing */
    font-weight: 600;     /* semibold font weight */
}

.label-text-lg {
    font-size: 16px;       /* Font size */
    line-height: 24px;     /* Line height */
    letter-spacing: 1%;    /* Letter spacing */
    font-weight: 500;     /* 500 font weight */
}

.label-text-md {
    font-size: 14px;       /* Font size */
    line-height: 20px;     /* Line height */
    letter-spacing: 1%;    /* Letter spacing */
    font-weight: 500;     /* 500 font weight */
}

.label-text-sm {
    font-size: 12px;       /* Font size */
    line-height: 16px;     /* Line height */
    letter-spacing: 1%;    /* Letter spacing */
    font-weight: 500;     /* 500 font weight */
}

.placeholder-text {
    font-size: 16px;       /* Font size */
    line-height: 24px;     /* Line height */
    letter-spacing: 5%;    /* Letter spacing */
}

.caption-text {
    font-size: 12px;       /* Font size */
    line-height: 16px;     /* Line height */
    letter-spacing: 5%;    /* Letter spacing */
}

/* =========================
   Region: Buttons
   ========================= */
/* Large Button*/
.button-lg {
    width: 350px;
    height: 48px;
    border-radius: 5px;
    padding: 14px 12px;
    border: 0.5px solid var(--border-neutral);
}

.button-lg:hover {
    border: 1px solid #A0A0A0;
}

/* Medium Button*/
.button-md {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    padding: 14px 12px;
    border: 0.5px solid var(--border-neutral);
}

.button-md:hover {
    border: 1px solid var(--text-placeholder);
}

/* Small Button*/
.button-sm {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    padding: 14px 12px;
    border: 0.5px solid var(--border-neutral);
}

.button-sm:hover {
    border: 1px solid var(--text-placeholder);
}

/* Primary Button Small */
.button-primary {
    background-color: var(--primary);
    color: var(--text-white);
}

.button-primary:hover {
    background-color: var(--primary-dark);
}

/* Primary Outline Button */
.button-outline-primary {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    padding: 14px 12px;
    border: 0.5px solid var(--primary);
    color: var(--primary);
    background-color: transparent;
}

.button-outline-primary:hover {
    background-color: var(--primary-light);
    color: var(--text-white);
    border: 0.5px solid var(--primary-dark);
}

/* Large Button */
.button-large {
    background-color: var(--primary);
    color: var(--text-white);
    padding: 0.75rem 1.5rem;
    width: 100%;
}

.button-large:hover {
    background-color: var(--primary-dark);
}

/* icon button */
.button-icon {
    height: 25px;
    width: 25px;
    padding: 4px;
    border: 0.5px solid var(--border-neutral);
    border-radius: 5px;
}

/* primary icon button */
.button-icon-primary {
   background-color: var(--accent-blue-light);
   color: var(--accent-blue);
}

.button-icon-primary:hover {
    background-color: var(--accent-blue);
    color: var(--text-white);
 }

 /* warning button */
 .button-warning {
    background-color: var(--accent-yellow-light);
    color: var(--accent-yellow);
 }
 
 .button-warning:hover {
     background-color: var(--accent-yellow);
     color: var(--text-white);
  }

 /* success button */
 .button-success {
    background-color: var(--success-light);
    color: var(--success);
 }
 
 .button-success:hover {
     background-color: var(--success);
     color: var(--success-light);
  }

 /* error button */
 .button-error {
    background-color: var(--error-light);
    color: var(--accent-red);
 }
 
 .button-error:hover {
     background-color: var(--error);
     color: var(--error-light);
  }

/* Textbox */
.textbox {
    background-color: var(--text-white);
    border: 1px solid var(--border-neutral);
    height: 40px;
    width: 350px;
}

/* =========================
   Region: Shadow
   ========================= */
.shadow-xs {
    box-shadow: 0px 1px 3px 1px #00000026,
                0px 4px 4px 0px #00000040;    
}

.shadow-sm {
    box-shadow: 0px 2px 6px 2px #00000026, 
                0px 1px 2px 0px #0000004D;
}

.shadow-md {
    box-shadow: 0px 1px 3px 0px #0000004D,
                0px 4px 8px 3px #00000026;
}

.shadow-lg {
    box-shadow: 0px 2px 3px 0px #0000004D,
                0px 6px 10px 4px #00000026;
}

.shadow-xl {
    box-shadow: 0px 8px 12px 6px #00000026,
                0px 4px 4px 0px #00000040;
}

/* =========================
   Region: NavBar
   ========================= */
.navbar {
    background-color: var(--primary);
}

